table,th,tr,td{
    border: 0.4px solid black;
    text-align: center;
    border-spacing: 0px;
    font-size: 32px;
}
th,td{
    padding: 10px;
}
body{
    display: flex;
    gap: 1em;
    align-items: center;
}
.notasContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

