body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    gap: 10px;
}
.container{
    max-height: 400px;
    overflow-y: scroll;
}
.cont-inform{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    align-items: center;
}

