body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    margin: 0;
    min-height: 100vh;
    gap: 20px;
    background-color: rgb(243, 236, 226) !important;
}