@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;    
}

h1 {
    margin-bottom: 20px;
    font-family: "BBH Sans Bogle", sans-serif;
    font-weight: 0;
    font-style: normal;
}

.container {
    max-width: 60%;
}
