body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}
.containerBtns{
    max-width: 20%;
}
.containerFuncs{
    max-width: 50%;
}
.linhaTabelaDepartamentos{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
