body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.container {
    max-width: 50%;
    height: 400px;
    overflow-y: scroll;
}

.container-cadastro{
    display: flex;
    flex-direction: column;
    gap: 20px;
}