table,thead,tr,td,th{
    border: 0.5px solid black;
    border-collapse: collapse;
    padding: 10px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
input{
    height: 20px;
    padding: 5px;
    width: 200px;
}