#form-criacao{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    max-width: 50%;
    gap: 10px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(243, 236, 226) !important;
}
#form-edicao{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    max-width: 50%;
    gap: 20px;
    color: white;
}