*{
    margin: 0;
}
body{
    background-color: rgb(121, 121, 121);
}
.tituloPrincipal{
    color: red;
    margin: 10px;
    padding: 10px;
    border: 2px dashed black;
    border-radius: 10px;
}
.tituloPlaneta{
    color: blue;
}
.tituloContinente{
    color: aqua;
}
.tituloQualContinente{
    color: aquamarine;
}
.tituloPais{
    color: blanchedalmond;
}
.tituloRegiao{
    color: blueviolet;
}
.tituloEstado{
    color: brown;
}
#container-noticia-destaque{
    background-color: black;
    color: wheat;
    text-align: center;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.categoriaNoticia{
    background-color: aqua;
    border: solid black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
.blocoCategoria{
    width: 50%;
    padding: 20px;
    background-color: olive;
    margin: auto;
}