.container-formulario{
    background-color: rgba(36, 60, 60, 0.817);
    width:15%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}
#campoEmail,#campoNome,#campoSenha,#campoData,#campoCEP,#campoIdade{
    height: 30px;
    width: 150px;
    background-color: darkgray;
    border: solid 0.2px black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;

}
#campoDesc{
    resize: none;
}
.container-transportes{
    background-color: rgb(21, 34, 35);
    color: white;
    
}
.container-tipo-transporte{
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(58, 91, 93, 0.183);
    color: white;
}
#titulo-transporte{
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#labelCampos{
    color: white;
}
.titulo-principal{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}