body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(243, 236, 226) !important;

}

.container {
    max-width: 50%;
}