@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body{
    background-color: #3C6284;
}
table,td,th{
    border: 0.1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    padding: 10px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
td{
    width: 150px;
    background-color: #202D38;
    color: white;
}
th{
    background-color: #1A80D9;
    color: white;
}
.Tabelas h1{
    text-decoration: none;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #202D38;
    width: 10%;
    padding: 10px;
    border-radius: 10px;
}
.Listagens{
    color: white;
    text-decoration: none;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
    