@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #6C5DF6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerForm{
    width: 50%;
}
.contTitulo{
    background-color: #1A1A1A;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 0.8em;
}
form{
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}









#inputsName{
    display: flex;
}
#inputsName{
    display: flex;
    gap: 60px;
    text-align: c;
}
.inputsNameLayoult{
    display: flex;
    flex-direction: column;
}
.inputsNameLayoult input{
    width: 200px;
    height: 55px;
    background-color: #E5E5E5;
    border: none;
    border-radius: 10px;
}








#inputsCompany{
    display: flex;
    gap: 35px;
}
#inputCompany{
    background-color: #E5E5E5;
    border: none;
    width: 465px;
    height: 55px;
    border-radius: 10px;
}








#inputsEmail{
    display: flex;
    gap: 60px;
}
#inputEmail{
    background-color: #E5E5E5;
    border: none;
    width: 465px;
    height: 55px;
    border-radius: 10px;
}










#inputsPhone{
    display: flex;
    gap: 60px;
}
#inputNumber{
    width: 320px;
    height: 55px;
}
#inputNumberCode{
    width: 80px;
    height: 55px;
}
.inputsPhoneLayoult{
    display: flex;
    flex-direction: column;
}
.inputsPhoneLayoult input{
    width: 200px;
    height: 55px;
    background-color: #E5E5E5;
    border: none;
    border-radius: 10px;
}










#inputsSubject{
    display: flex;
    align-items: center;
    gap: 55px;
}
#inputSubject{
    width: 200px;
    height: 55px;
    background-color: #E5E5E5;
    border: navajowhite;
    width: 465px;
    border-radius: 10px;
}








#inputsYesNo{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#inputsYesNo button{
    height: 50px;
    background-color: #FF4B5A;
    border: none;
    color:white;
    border-radius: 5px;
    margin-bottom: 20px;
}
#inputsYesNo{
    display: flex;
    gap: 30px;
}
.inputsYesNoLayoult{
    display: flex;
    gap: 25px;
}




















.textAcessibilidade{
    color: #B0B0B0;
}



















