body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: centers;
    justify-content: center;
    gap: 10px;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    padding: 0;
}
ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blue;
    text-align: center;

}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
