@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h1 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#btnAdd {
  margin-top: 1em;
}
table {
  display: none;
}
